@{
    Layout = "_Layout";
}

<div class="jumbotron">
    <h1>Order Details: @Model["vendor"].VendorName</h1>
</div>


<div class="orderdetails">
    <h1>Order Title: @Model["order"].OrderTitle</h1>
    <h3>Order Description: @Model["order"].OrderDescription</h3>
    <h4>Order Date: @Model["order"].OrderDate</h4>
    <h4>Order Price: $ @Model["order"].OrderPrice</h4>

    <p><a href='/vendors/@Model["vendor"].VendorId/orders/new'>Add another order</a></p>
    <p><a href='/vendors'>View All Vendors</a></p>
    <form action="/orders/delete" method="post">
        <button type="submit" class="btn btn-primary">Clear Orders</button>
    </form>
</div>
