@using VendorsOrdersPierresBakery.Models;
@{
    Layout = "_Layout";
}

<h1>These are all the orders for @Model["vendor"].VendorName</h1>

<ol>
    @foreach (Order order in @Model["orders"])
    {
        <li><a href='/vendors/@Model["vendor"].VendorId/orders/@order.OrderId'>@order.OrderTitle</a></li>
        <ul>
            <li><a href='/vendors/@Model["vendor"].VendorId/orders/@order.OrderId'>@order.OrderDescription</a></li>
            <li><a href='/vendors/@Model["vendor"].VendorId/orders/@order.OrderId'>@order.OrderPrice</a></li>
            <li><a href='/vendors/@Model["vendor"].VendorId/orders/@order.OrderId'>@order.OrderDate</a></li>
        </ul>
    }
</ol>

<p><a href='/vendors/@Model["vendor"].VendorId/orders/new'>Add a New Order for @Model["vendor"].VendorName</a></p>
<p><a href='/vendors'>Return to Vendors List</a></p>
<p><a href='/'>Return to Home Page</a></p>