@using VendorsOrdersPierresBakery.Models;

@{
    Layout = "_Layout";
}

<div class="jumbotron">
    <h1>Orders for: @Model["vendor"].VendorName</h1>
    <h3>(Click on the order for more information)</h3>
</div>

<div class="vendorsorders">
    @if (@Model["orders"].Count == 0)
    {
        <h3>You currently do not have any orders for this vendor.</h3>
    }


    <ol>
        @foreach (Order order in @Model["orders"])
        {
            <li><strong>Order Title: </strong> <a
                    href='/vendors/@Model["vendor"].VendorId/orders/@order.OrderId'>@order.OrderTitle</a></li>
        }
    </ol>

    <h3><a href='/vendors/@Model["vendor"].VendorId/orders/new'>Add a New Order for @Model["vendor"].VendorName</a></h3>
    <h4><a href='/vendors'>Return to Vendors List</a></h4>
    <h4><a href='/'>Return to Home Page</a></h4>
</div>
